body {
	padding-top: 70px;
}

.jumbotron {
	color: #000000;
	background: #ecf0f1;
}

.navbar-inverse {
	background: #000000;
}

.navbar-inverse .navbar-nav>li>a {
	color: rgb(130, 126, 126);
}

.navbar-inverse .navbar-brand {
	color: white;
}

img:hover {
	transform: scale(1.1);
	transition-delay: 0.2s;
}

